boto3==1.36.0  # Pinned to resolve aws_account_id issue
botocore==1.36.0  # Pinned to resolve aws_account_id issue
anthropic==0.39.0  # Downgrade for better ARM64 compatibility
httpx>=0.27.2 # Updated for compatibility with newer anthropic